config.json
/discord/node_modules/
/api/node_modules/
/data/static-api-cache/*
!data/static-api-cache/.gitkeep
/data/keys/*
!data/keys/.gitkeep
*.bat
devconfig.json
releasenotes/boatbot 2 release announcement.md
test.js
config.json5
devconfig.json5
/utils/node_modules/
oppai
releasenotes/listofideas.md
ctrackingtrue.json
trackingfalse.json
tracking.json
